// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page-categories{

}
#page-categories h1{
  font-size: 1.8em;
  display: flex;
  justify-content: center;
}
.categories{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.button{
  width: 30%;
  background-color: #093145;
  margin-bottom: 5px;
  margin-left: 14px;
  margin-right: 14px;
  text-align: center;
  padding: 2px;
  min-height: 2em;
  font-size: 1.4em;
  text-decoration: none;
  color: white;
}
.size18{
  font-size: 1.8em;
  text-align: center;
}
.padding-top{
  margin-top: 20px;
}
.no-center{
  text-align:left;
  margin-left: 10px;
}
