// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page-posts{
  background-color: #093145;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
#page-posts a{

  color: #093145;
}
h2.no-margin{
  margin: 0;

}
.posts{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.posts-card{
  width: 30%;
  background-color: white;
  margin-bottom: 5px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 20px;
  text-align: center;
  padding: 2px;
  min-height: 2em;
  font-size: 1.4em;
  text-decoration: none;
  color:  #093145;
}
.text-small{
  font-size: 0.7em;
}
.post-content{
  padding-bottom: 50px;
}
.input_form{
  background-color: #ffffb3;
}
.submit_button{
  background-color: gainsboro;
}
