<nav class="nav-box">
        <ul class="menu">
          <li><a href="#page-categories">categories</a></li>
          <li><a href="#page-topics">latest topics</a></li>
          <li><a href="#page-posts">latest posts</a></li>
        </ul>
      </nav>
